<?xml version="1.0"?>
<!-- 
#####################################################################################
#
# Copyright (c) 2023-2025 Galbot, Inc. All Rights Reserved.
#
# This software contains confidential and proprietary information of Galbot, Inc.
# ("Confidential Information"). You shall not disclose such Confidential Information
# and shall use it only in accordance with the terms of the license agreement you
# entered into with Galbot, Inc.
#
# UNAUTHORIZED COPYING, USE, OR DISTRIBUTION OF THIS SOFTWARE, OR ANY PORTION OR
# DERIVATIVE THEREOF, IS STRICTLY PROHIBITED. IF YOU HAVE RECEIVED THIS SOFTWARE IN
# ERROR, PLEASE NOTIFY GALBOT, INC. IMMEDIATELY AND DELETE IT FROM YOUR SYSTEM.
#
#####################################################################################
#
# Description: Xacro file for Galbot One Charlie right hand.
# Author: Herman Ye@Galbot, Yuhao Zeng@Galbot
#
#####################################################################################
-->

<robot name="right_hand"
  xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="right_hand" params="parent *origin name:=right_hand">
    <xacro:property name="M_PI" value="3.1415926535897931" />

    <joint name="${name}_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="${name}_base_link" />
    </joint>

    <link name="${name}_base_link">
      <inertial>
        <origin xyz="-0.0027907 -0.0022959 0.087939" rpy="0 0 0" />
        <mass value="0.3185" />
        <inertia ixx="0.00042525" ixy="-5.4176E-06" ixz="-2.6625E-06" iyy="0.00035285" iyz="7.6279E-06" izz="0.00012912" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://galbot_one_charlie_description/meshes/hand/right_hand_base_link.stl" />
        </geometry>
        <material name="">
          <color rgba="0.75294 0.75294 0.75294 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://galbot_one_charlie_description/meshes/hand/right_hand_base_link.stl" />
        </geometry>
      </collision>
    </link>

  </xacro:macro>
</robot>