<?xml version="1.0"?>
<!-- 
#####################################################################################
#
# Copyright (c) 2023-2025 Galbot, Inc. All rights Reserved.
#
# This software contains confidential and proprietary information of Galbot, Inc.
# ("Confidential Information"). You shall not disclose such Confidential Information
# and shall use it only in accordance with the terms of the license agreement you
# entered into with Galbot, Inc.
#
# UNAUTHORIZED COPYING, USE, OR DISTRIBUTION OF THIS SOFTWARE, OR ANY PORTION OR
# DERIVATIVE THEREOF, IS STRICTLY PROHIBITED. IF YOU HAVE RECEIVED THIS SOFTWARE IN
# ERROR, PLEASE NOTIFY GALBOT, INC. IMMEDIATELY AND DELETE IT FROM YOUR SYSTEM.
#
#####################################################################################
#
# Description: URDF file for Galbot One Charlie.
# Author: Herman Ye@Galbot, Yuhao Zeng@Galbot
#
#####################################################################################
-->

<robot name="galbot_one_charlie"
    xmlns:xacro="http://ros.org/wiki/xacro">
    <!-- INCLUDE-->
    <xacro:include
        filename='$(find galbot_one_charlie_description)/xacro/chassis/omni_chassis.xacro' />
    <xacro:include filename='$(find galbot_one_charlie_description)/xacro/leg/leg.xacro' />
    <xacro:include filename='$(find galbot_one_charlie_description)/xacro/torso/torso.xacro' />
    <xacro:include filename='$(find galbot_one_charlie_description)/xacro/head/head.xacro' />
    <xacro:include filename='$(find galbot_one_charlie_description)/xacro/arm/left_arm.xacro' />
    <xacro:include filename='$(find galbot_one_charlie_description)/xacro/arm/left_arm_camera.xacro' />
    <xacro:include filename='$(find galbot_one_charlie_description)/xacro/arm/right_arm.xacro' />
    <xacro:include
        filename='$(find galbot_one_charlie_description)/xacro/arm/right_arm_camera.xacro' />
    <xacro:include
        filename='$(find galbot_one_charlie_description)/xacro/hand/inspire_hand/right_hand.xacro' />
    <xacro:include
        filename='$(find galbot_one_charlie_description)/xacro/hand/inspire_hand/left_hand.xacro' />
    <xacro:include
        filename='$(find galbot_one_charlie_description)/xacro/hand/galbot_hand/galbot_right_hand.xacro' />
    <xacro:include
        filename='$(find galbot_one_charlie_description)/xacro/hand/galbot_hand/galbot_left_hand.xacro' />
    <xacro:include filename='$(find galbot_one_charlie_description)/xacro/camera/arm_camera.xacro' />
    <xacro:include filename='$(find galbot_one_charlie_description)/xacro/flange/flange.xacro' />
    <xacro:include
        filename='$(find galbot_one_charlie_description)/xacro/gripper/robotiq_gripper/robotiq_2f_85.xacro' />

    <xacro:include
        filename='$(find galbot_one_charlie_description)/xacro/suction_cup/suction_cup.xacro' />

    <!-- PROPERTIES -->
    <xacro:property name="M_PI" value="3.1415926535897931" />
    <!-- hand/gripper/suction_cup-->
    <xacro:property name="right_arm_end_effector_type" value="$(arg right_arm_end_effector_type)" />
    <xacro:property name="left_arm_end_effector_type" value="$(arg left_arm_end_effector_type)" />

    <!-- ROBOT -->
    <!-- Robot Base Link -->
    <link name="base_link">
    </link>

    <!-- Omni Chassis -->
    <xacro:omni_chassis parent="base_link" name="omni_chassis">
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:omni_chassis>

    <!-- Leg -->
    <xacro:leg parent="omni_chassis_leg_mount_link" name="leg">
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:leg>

    <!-- Torso -->
    <xacro:torso parent="leg_end_effector_mount_link" name="torso">
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:torso>

    <!-- Head -->
    <xacro:head parent="torso_head_mount_link" name="head">
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:head>

    <!-- Right Arm-->
    <xacro:right_arm parent="torso_right_arm_mount_link" name="right_arm">
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:right_arm>

    <!-- Right Arm Hand/Gripper/Suction Cup -->
    <xacro:if value="${right_arm_end_effector_type == 'galbot_hand'}">
        <xacro:galbot_right_hand parent="right_arm_end_effector_mount_link" name="galbot_right_hand">
            <origin xyz="0 0 0" rpy="${-M_PI/2} ${-M_PI/2} 0" />
        </xacro:galbot_right_hand>
        <!-- <xacro:right_arm_camera parent="right_arm_link7" name="right">
            <origin xyz="0 0 0" rpy="0 0 0" />
        </xacro:right_arm_camera> -->
    </xacro:if>

    <xacro:if value="${right_arm_end_effector_type == 'hand'}">
        <xacro:right_hand parent="right_arm_end_effector_mount_link" name="right_hand">
            <origin xyz="0 0 0" rpy="${M_PI} ${-M_PI/2} 0" />
        </xacro:right_hand>
        <xacro:right_arm_camera parent="right_arm_link7" name="right">
            <origin xyz="0 0 0" rpy="0 0 0" />
        </xacro:right_arm_camera>
    </xacro:if>


    <xacro:if value="${right_arm_end_effector_type == 'suction_cup'}">
        <xacro:suction_cup parent="right_arm_end_effector_mount_link" name="right_suction_cup">
            <origin xyz="0 0 0" rpy="${-M_PI/2} ${M_PI} 0" />
        </xacro:suction_cup>
        <xacro:right_arm_camera parent="right_arm_link7" name="right">
            <origin xyz="0 0 0" rpy="0 0 0" />
        </xacro:right_arm_camera>
    </xacro:if>

    <xacro:if value="${right_arm_end_effector_type == 'robotiq_gripper'}">
        <xacro:robotiq_gripper parent="right_arm_end_effector_mount_link" name="right_gripper">
            <origin xyz="0.008 0 0" rpy="${M_PI} ${-M_PI/2} 0" />
        </xacro:robotiq_gripper>
    </xacro:if>

    <!-- Left Arm-->
    <xacro:left_arm parent="torso_left_arm_mount_link" name="left_arm">
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:left_arm>


    <!-- Left Arm Hand/Gripper/Suction Cup -->
    <xacro:if value="${left_arm_end_effector_type == 'hand'}">
        <xacro:left_hand parent="left_arm_end_effector_mount_link" name="left_hand">
            <origin xyz="0 0 0" rpy="${M_PI} ${-M_PI/2} 0" />
        </xacro:left_hand>
        <xacro:left_arm_camera parent="left_arm_link7" name="left">
            <origin xyz="0 0 0" rpy="0 0 0" />
        </xacro:left_arm_camera>
    </xacro:if>
    <xacro:if value="${left_arm_end_effector_type == 'galbot_hand'}">
        <xacro:galbot_left_hand parent="left_arm_end_effector_mount_link" name="galbot_left_hand">
            <origin xyz="0 0 0" rpy="${-M_PI/2} ${-M_PI/2} 0" />
        </xacro:galbot_left_hand>
        <!-- <xacro:left_arm_camera parent="left_arm_link7" name="left">
            <origin xyz="0 0 0" rpy="0 0 0" />
        </xacro:left_arm_camera> -->

    </xacro:if>
    <xacro:if value="${left_arm_end_effector_type == 'suction_cup'}">
        <xacro:suction_cup parent="left_arm_end_effector_mount_link" name="left_suction_cup">
            <origin xyz="0 0 0" rpy="${-M_PI/2} ${-M_PI} 0" />
        </xacro:suction_cup>
        <xacro:left_arm_camera parent="left_arm_link7" name="left">
            <origin xyz="0 0 0" rpy="0 0 0" />
        </xacro:left_arm_camera>
    </xacro:if>
    <xacro:if value="${left_arm_end_effector_type == 'robotiq_gripper'}">
        <xacro:robotiq_gripper parent="left_arm_end_effector_mount_link" name="left_gripper">
            <origin xyz="0.008 0 0" rpy="0 ${M_PI/2} 0" />
        </xacro:robotiq_gripper>
    </xacro:if>


</robot>



 