<?xml version="1.0"?>
<!-- 
#####################################################################################
#
# Copyright (c) 2023-2025 Galbot, Inc. All Rights Reserved.
#
# This software contains confidential and proprietary information of Galbot, Inc.
# ("Confidential Information"). You shall not disclose such Confidential Information
# and shall use it only in accordance with the terms of the license agreement you
# entered into with Galbot, Inc.
#
# UNAUTHORIZED COPYING, USE, OR DISTRIBUTION OF THIS SOFTWARE, OR ANY PORTION OR
# DERIVATIVE THEREOF, IS STRICTLY PROHIBITED. IF YOU HAVE RECEIVED THIS SOFTWARE IN
# ERROR, PLEASE NOTIFY GALBOT, INC. IMMEDIATELY AND DELETE IT FROM YOUR SYSTEM.
#
#####################################################################################
#
# Description: Xacro file for Galbot One Charlie torso.
# Author: Herman Ye@Galbot, Yuhao Zeng@Galbot
#
#####################################################################################
-->

<robot name="torso"
    xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="torso" params="parent *origin name:=torso">
        <xacro:property name="M_PI" value="3.1415926535897931" />

        <joint name="${name}_joint" type="fixed">
            <xacro:insert_block name="origin" />
            <parent link="${parent}" />
            <child link="${name}_base_link" />
        </joint>

        <link name="${name}_base_link">
            <inertial>
                <origin rpy="0 0 0" xyz="0.00004 0.00011 0.32719" />
                <mass value="6.68" />
                <inertia ixx="0.87119" ixy="0.00009" ixz="-0.00496" iyy="0.85457" iyz="0.00295"
                    izz="0.06560" />
            </inertial>
            <visual>
                <origin rpy="0 0 0" xyz="0 0 0" />
                <geometry>
                    <mesh
                        filename="package://galbot_one_charlie_description/meshes/torso/torso_base_link.obj" />
                </geometry>

            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0 0 0" />
                <geometry>
                    <mesh
                        filename="package://galbot_one_charlie_description/meshes/torso/torso_base_link.stl" />
                </geometry>
            </collision>

        </link>

        <!-- Head Mount -->
        <link name="${name}_head_mount_link">
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <mass value="0" />
                <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
            </inertial>
        </link>
        <joint name="${name}_head_mount_joint" type="fixed">
            <origin xyz="-0.0081669 5E-05 0.58394" rpy="0 0 0" />
            <parent link="${name}_base_link" />
            <child link="${name}_head_mount_link" />
            <axis xyz="0 0 0" />
        </joint>

        <!-- Right Arm Mount -->
        <link name="${name}_right_arm_mount_link">
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <mass value="0" />
                <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
            </inertial>
        </link>
        <joint name="${name}_right_arm_mount_joint" type="fixed">
            <origin rpy="${-M_PI/2} 0 ${M_PI}" xyz="0 -0.206 0.39599" />
            <parent link="${name}_base_link" />
            <child link="${name}_right_arm_mount_link" />
            <axis xyz="0 0 0" />
        </joint>

        <!-- Left Arm Mount -->
        <link name="${name}_left_arm_mount_link">
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <mass value="0" />
                <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
            </inertial>
        </link>
        <joint name="${name}_left_arm_mount_joint" type="fixed">
            <origin rpy="${M_PI/2} 0 ${M_PI}" xyz="0 0.206 0.39599" />
            <parent link="${name}_base_link" />
            <child link="${name}_left_arm_mount_link" />
            <axis xyz="0 0 0" />
        </joint>


    </xacro:macro>
</robot>